<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/goods.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
</head>
<body>
<div id="app">
    <!-- header -->
    <el-menu mode="horizontal" :default-active="activeIndex">
        <el-menu-item index="0" id="logo">Getting started with Spring Boot</el-menu-item>
        <el-menu-item index="1"><a href="/index">Home</a></el-menu-item>
        <el-menu-item index="2"><a href="/goods">Product list</a></el-menu-item>
        <el-menu-item id="author" index="3">
            <img class="el-tooltip" src="http://tycoding.cn/author/avatar.png"/>
            <el-dropdown>
                <span class="el-dropdown-link">HOOS<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>Home</el-dropdown-item>
                    <el-dropdown-item><a href="https://gitlab.com/houssembenali90" target="_blank">GitLab</a>
                    </el-dropdown-item>
                    <el-dropdown-item><a href="https://www.facebook.com/HOOS.benali" target="_blank">Facebook</a></el-dropdown-item>
                    <el-dropdown-item divided><a href="/logout">Log out</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>

    <div id="main">
        <el-col>
            <el-card shadow="hover">
                <!-- search bar -->
                <el-form :inline="true" :model="searchEntity" class="demo-form-inline">
                    <el-form-item label="Brand">
                        <el-input v-model="searchEntity.brand" placeholder="Brand"></el-input>
                    </el-form-item>
                    <el-form-item label="title">
                        <el-input v-model="searchEntity.title" placeholder="title"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button
                                type="primary"
                                icon="el-icon-search"
                                @click="reloadList">Inquire
                        </el-button>
                        <el-button
                                icon="el-icon-delete"
                                @click="searchEntity={}"
                                type="primary" plain>Empty
                        </el-button>
                    </el-form-item>
                </el-form>
                <!-- Function buttons -->
                <div>
                    <el-row>
                        <el-button @click="saveBtn" type="primary" icon="el-icon-plus">New</el-button>
                        <el-button type="primary" plain icon="el-icon-edit" @click="editSelect">edit</el-button>
                        <el-button type="danger" plain icon="el-icon-delete" @click="deleteSelect(multipleSelection)">delete
                        </el-button>
                        <el-button icon="el-icon-refresh"
                                   @click="search(pageConf.pageCode,pageConf.pageSize)">Refresh
                        </el-button>
                    </el-row>
                    <span class="el-tag avue-tip">
                    <i class="el-icon-info"></i>
                    <span class="name">
          Current form has been selected
                        <span class="count">{{count}}</span>
                        item
                    </span>
                    <span @click.prevent="clearSelect()" style="cursor:pointer">&nbsp;&nbsp;Empty</span>
                </span>
                </div>
                <!-- List-->
                <el-table
                        ref="goods"
                        :data="goods"
                        border
                        tooltip-effect="dark"
                        style="width: 100%"
                        @selection-change="selectChange">
                    <el-table-column
                            ref="selection"
                            align="center"
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            prop="id"
                            align="center"
                            sortable
                            fixed
                            label="Product ID"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="price"
                            sortable
                            label="Commodity price"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="brand"
                            label="product brand"
                            width="150">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="title"
                            sortable
                            label="Product title"
                            width="260"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column align="center" label="product picture" width="240">
                        <template scope="scope">
                            <img :src="scope.row.image" class="image" width="150" height="160"/>
                        </template>
                    </el-table-column>
                    <el-table-column label="operating" align="center" fixed="right">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handleDelete(scope.row.id)">delete
                            </el-button>
                            <el-button
                                    size="mini"
                                    @click="handleEdit(scope.row.id)">edit
                            </el-button>
                            <el-button
                                    size="mini"
                                    type="primary" plain>Permission
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <!-- Pagination -->
                <div class="pagination">
                    <el-pagination
                            background
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="pageConf.pageCode"
                            :page-sizes="pageConf.pageOption"
                            :page-size="pageConf.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="pageConf.totalPage">
                    </el-pagination>
                </div>
                <br/>
                <br/>
            </el-card>
        </el-col>
    </div>

    <!-- footer -->
    <div class="footer">
        <el-container>
            <el-footer>
                <el-row :gutter="20">
                    <el-col :span="8" :offset="10">
                        <div class="footer-inner">
                            <div class="copyright">&copy; 2017 &mdash; <span itemprop="copyrightYear">2018</span>
                                <span class="with-love">
                                    <i class="fa fa-heartbeat"></i>
                                </span>
                                <span class="author" itemprop="copyrightHolder">HOOS</span>
                            </div>
                            <label>An elegant introduction to the Spring Boot framework for simple CRUD. Pages are created using Vue and ElementUI</label>
                        </div>
                    </el-col>
                </el-row>
            </el-footer>
        </el-container>
    </div>


    <!-- Add button dialog -->
    <el-dialog title="add information" :visible.sync="showSave" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="editor" status-icon ref="editor"
                 label-width="100px">
            <el-form-item prop="title" label="Product title" class="is-required"
                          :rules="[{ required: true, message: 'Product title cannot be empty'}]">
                <el-input v-model="editor.title" placeholder="Product title"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="price" label="Commodity price" class="is-required"
                          :rules="[{ required: true, message: 'Merchant price cannot be empty'},{ type: 'number', message: 'Commodity price must be a number'}]">
                <el-input v-model.number="editor.price" placeholder="Commodity price"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="picture" label="image">
                <el-upload
                        ref="upload"
                        action="/upload"
                        multiple
                        name="picture"
                        list-type="picture-card"
                        :limit="1"
                        :on-exceed="onExceed"
                        :file-list="fileList"
                        :before-upload="beforeUpload"
                        :on-preview="handlePreview"
                        :on-success="handleSuccess"
                        :on-remove="handleRemove">
                    <i class="el-icon-plus"></i>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
            </el-form-item>
            <el-form-item prop="brand" label="product brand" class="is-required"
                          :rules="[{ required: true, message: 'Commodity brand cannot be empty'}]">
                <el-input v-model="editor.brand" placeholder="product brand"
                          auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showSave = false">Cancel</el-button>
            <el-button type="primary" @click="save('editor')">New</el-button>
        </div>
    </el-dialog>

    <!-- Edit button's dialog -->
    <el-dialog title="Edit information" :visible.sync="showEditor" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="editor" status-icon ref="editor"
                 label-width="100px">
            <el-form-item prop="title" label="Product title" class="is-required"
                          :rules="[{ required: true, message: 'Product title cannot be empty'}]">
                <el-input v-model="editor.title" placeholder="Product title"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="price" label="Commodity price" class="is-required"
                          :rules="[{ required: true, message: 'Merchant price cannot be empty'},{ type: 'number', message: 'Commodity price must be a number'}]">
                <el-input v-model.number="editor.price" placeholder="Commodity price"
                          auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="picture" label="image">
                <el-upload
                        ref="upload"
                        action="/upload"
                        multiple
                        name="picture"
                        list-type="picture-card"
                        :limit="1"
                        :on-exceed="onExceed"
                        :file-list="fileList"
                        :before-upload="beforeUpload"
                        :on-preview="handlePreview"
                        :on-success="handleSuccess"
                        :on-remove="handleRemove">
                    <i class="el-icon-plus"></i>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
            </el-form-item>
            <el-form-item prop="brand" label="product brand" class="is-required"
                          :rules="[{ required: true, message: 'Commodity brand cannot be empty'}]">
                <el-input v-model="editor.brand" placeholder="product brand"
                          auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showEditor = false">Cancel</el-button>
            <el-button type="primary" @click="sureEdit('editor')">modify</el-button>
        </div>
    </el-dialog>

</div>
</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/goods.js}"></script>
</html>