<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/index.css}"/>
</head>
<body>

<div id="app">
    <!-- header -->
    <el-menu mode="horizontal" :default-active="activeIndex">
        <el-menu-item index="0" id="logo">Getting started with Spring Boot</el-menu-item>
        <el-menu-item index="1"><a href="/index">Home</a></el-menu-item>
        <el-menu-item index="2"><a href="/goods">Product list</a></el-menu-item>
        <el-menu-item id="author" index="3">
            <img class="el-tooltip" src="http://tycoding.cn/author/avatar.png"/>
            <el-dropdown>
                  <span class="el-dropdown-link">HOOS<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>Home</el-dropdown-item>
                    <el-dropdown-item><a href="https://gitlab.com/houssembenali90" target="_blank">GitLab</a>
                    <el-dropdown-item><a href="https://www.facebook.com/HOOS.benali" target="_blank">Facebook</a></el-dropdown-item>
                    <el-dropdown-item divided><a href="/logout">Log out</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>

    <!-- main -->
    <div id="main">
        <el-row :gutter="20">
            <el-col :span="20" :offset="7">
                <el-container>
                    <div>
                        <h3>An elegant introduction to the Spring Boot framework for simple CRUD.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&mdash;&mdash;&nbsp;By HOOS</h3>
                    </div>
                </el-container>
            </el-col>
        </el-row>
    </div>

    <!-- footer -->
    <div class="footer">
        <el-container>
            <el-footer>
                <el-row :gutter="20">
                    <el-col :span="8" :offset="10">
                        <div class="footer-inner">
                            <div class="copyright">&copy; 2017 &mdash; <span itemprop="copyrightYear">2018</span>
                                <span class="with-love">
                                    <i class="fa fa-heartbeat"></i>
                                </span>
                                <span class="author" itemprop="copyrightHolder">HOOS</span>
                            </div>
                            <label>An elegant introduction to the Spring Boot framework for simple CRUD. Pages are created using Vue and ElementUI</label>
                        </div>
                    </el-col>
                </el-row>
            </el-footer>
        </el-container>
    </div>
</div>

</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../store/store.js}"></script>
<script type="text/javascript" th:src="@{../../js/index.js}"></script>
</html>