<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../css/login.css}">
    <link rel="stylesheet" th:href="@{../../lib/font/icon/iconfont.css}">
</head>
<body>
<div id="app">
    <div v-if="true" id="login">
        <el-main id="main">
            <el-row type="flex" class="row-bg" justify="center">
                <el-col :xs="8" :sm="9" :md="8" :lg="6" :xl="5">
                    <el-card class="box-card">
                        <div solt="header" class="header">
                            <span class="item">log in</span>
                        </div>
                        <div id="form">
                            <!-- Login form -->
                            <el-form :model="login" status-icon ref="login">
                                <el-form-item prop="username"
                                              :rules="[{ required: true, message: 'Username can not be empty'}]">
                                    <el-input prefix-icon="el-icon-ump-yonghu" v-model="login.username"
                                              auto-complete="off"></el-input>
                                </el-form-item>
                                <el-form-item prop="password"
                                              :rules="[{ required: true, message: 'password can not be blank'}]">
                                    <el-input prefix-icon="el-icon-ump-mima" type="password"
                                              v-model="login.password" @keyup.enter.native="loginEnter('login')"
                                              auto-complete="off"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-checkbox class="check" v-model="login.remember">remember me</el-checkbox>
                                </el-form-item>
                                <el-form-item>
                                    <el-button class="btn" type="primary" @click="submitForm('login')">Log In
                                    </el-button>
                                </el-form-item>
                            </el-form>
                            <div>
                                <p><a href="/register" class="tips">Don't have an account yet? Click me to register</a></p>
                            </div>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<!--<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>-->
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<!--<script type="text/javascript" th:src="@{../../store/store.js}"></script>-->
<!-- Core code js -->
<script type="text/javascript" th:src="@{../../js/login.js}"></script>
</html>