<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../css/login.css}">
    <link rel="stylesheet" th:href="@{../../lib/font/icon/iconfont.css}">
</head>
<body>

<div id="app">
    <div id="login">
        <el-main id="main">
            <el-row type="flex" class="row-bg" justify="center">
                <el-col :span="5">
                    <el-card class="box-card">
                        <div solt="header" class="header">
                            <span class="item">registered</span>
                        </div>
                        <div id="form">
                            <!-- Registration form -->
                            <el-form :model="register" status-icon ref="register">
                                <el-form-item prop="username"
                                              :rules="[{ required: true, message: 'Username can not be empty'}]">
                                    <el-input prefix-icon="el-icon-ump-yonghu" v-model="register.username"
                                              auto-complete="off"></el-input>
                                </el-form-item>
                                <el-form-item prop="password"
                                              :rules="[{ required: true, message: 'password can not be blank'}]">
                                    <el-input prefix-icon="el-icon-ump-mima" type="password" v-model="register.password"
                                              auto-complete="off"></el-input>
                                </el-form-item>
                                <el-form-item prop="repassword"
                                              :rules="[{ required: true, message: 'Please enter your password again'}]">
                                    <el-input prefix-icon="el-icon-ump-anquan" v-model="register.repassword"
                                              @keyup.enter.native="registerEnter('register')"
                                              auto-complete="off"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button class="btn" type="primary" @click="submitForm('register')">registered</el-button>
                                </el-form-item>
                            </el-form>
                            <div>
                                <p><a href="/login" class="tips">Already have an account? Click me to log in</a></p>
                            </div>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>

    </div>
</div>
</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<!--<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>-->
<!-- 核心js代码 -->
<script type="text/javascript" th:src="@{../../js/register.js}"></script>
</html>